/* ===========header part start=============  */
.header-section {
  background: var(--bg-theme);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header-section {
  .header-main {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navBar {
      display: flex;
      justify-content: end;
      align-items: center;
      .menus {
        ul {
          display: flex;
          gap: 38.4px;
          margin-right: 38.4px;
          li {
            a {
              color: var(--white);
              font-weight: 700;
              font-size: 18px;
              line-height: 27px;
            }
            a.active {
              color: var(--primary) !important;
            }
            &:hover > {
              a {
                color: var(--primary);
              }
              .sub-menu {
                opacity: 1;
                visibility: visible;
                transform: scaleY(1);
              }
            }
            /* sub menu css start here */
            position: relative;
            line-height: 50px;
            > .sub-menu {
              position: absolute;
              padding: 10px 0px 10px 15px;
              display: block;
              top: 60px;
              left: 0;
              width: 250px;
              background: var(--bg-theme);
              opacity: 0;
              visibility: hidden;
              transition: all 0.3s ease-in-out;
              border: 1px solid var(--primary);
              transform: scaleY(0);
              transform-origin: top;
              li {
                margin-bottom: 10px;
                a {
                  display: flex;
                  align-items: center;
                  gap: 10px;
                }
                .sub-menu {
                  left: 100%;
                  top: 0;
                }
                ul {
                  li {
                    margin-bottom: 10px;
                  }
                }
              }
            }
          }
        }
      }
      /* sub menu css end here */
      .social-icons {
        display: flex;
        gap: 38.4px;
        position: relative;
        padding-left: 38.4px;
        &::before {
          content: "";
          width: 1px;
          height: 18px;
          background: var(--white);
          display: inline-block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
        a {
            color: var(--white);
            font-size: 18px;
            font-weight: 400;
            &:hover {
                color: var(--primary);
            }
        }
      }
    }
  }
}


